# Java properties
backend/src/main/resources/application.properties
backend/src/main/resources/application-dev.properties
backend/src/main/resources/application-prod.properties
backend/src/main/resources/application-test.properties
backend/src/main/resources/application-docker.properties

# .NET
**/bin/
**/obj/
.vs/
*.user
*.suo

# ASP.NET
**/appsettings.json
**/appsettings.Development.json
**/appsettings.Local.json

# IDE
.idea/
.vscode/